<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.asteroides"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service android:name=".ServicioMusica" />
        <service android:name=".ServicioMusicaConSonidoRalentizado" />

        <activity
            android:name="org.example.asteroides.Asteroides"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.example.asteroides.AcercaDe"
            android:label="Acerca de"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="org.example.asteroides.Preferencias"
            android:label="Preferencias"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="org.example.asteroides.Puntuaciones"
            android:label="Puntuaciones"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="org.example.asteroides.Juego"
            android:label="@string/juego" android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>